
@{
    ViewBag.Title = "New Farming Entity";

    ViewBag.Action = "New Farming Entity";
    ViewBag.Controller = "FarmingEntities";

    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
}

<div class="row">
    
    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/farmers/add">
                <img alt="image" src="~/icons/ui/add_user.png">
                <h3 class="m-b-xs"><strong>Individual</strong></h3>

                <div class="font-bold">New individual Farmer</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/farmers/add" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/farmers/addfarmercorporate">
                <img alt="image" src="~/icons/ui/organization.png">
                <h3 class="m-b-xs"><strong>Corporate</strong></h3>

                <div class="font-bold">New farm-based organization</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/farmers/addfarmercorporate" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/farmers/addfarmergroup">
                <img alt="image" src="~/icons/ui/groups_filled.png">
                <h3 class="m-b-xs"><strong>Group</strong></h3>

                <div class="font-bold">New group of individual farmers</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/farmers/addfarmergroup" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

</div>

