@{
    ViewBag.Title = "Admin Toolbox";
    ViewBag.Action = "Index";
    ViewBag.Controller = "Admin";
    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
}

<div class="row">

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/admin/seasons">

                <img alt="image" src="~/icons/dashboard/seasons.png">
                <h3 class="m-b-xs"><strong>Seasons</strong></h3>

                <div class="font-bold">Add and manage seasons</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/admin/seasons" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>
    
        <div class="col-lg-3">
            <div class="contact-box center-version">
                <a href="/admin/fertilizers">

                    <img alt="image" src="~/icons/dashboard/Hand Planting Filled-100.png">
                    <h3 class="m-b-xs"><strong>Fertilizers</strong></h3>

                    <div class="font-bold">Manage list of fertilizers</div>
                </a>
                <div class="contact-box-footer" style="background-color:#1ab394;">
                    <div class="m-t-xs btn-group">
                        <a href="/admin/fertilizers" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                    </div>

                </div>
            </div>
        </div>
    
        <div class="col-lg-3">
            <div class="contact-box center-version">
                <a href="/admin/auditlogs">

                    <img alt="image" src="~/icons/dashboard/Workstation-80.png">
                    <h3 class="m-b-xs"><strong>Audit logs</strong></h3>

                    <div class="font-bold">All system logs</div>
                </a>
                <div class="contact-box-footer" style="background-color:#1ab394;">
                    <div class="m-t-xs btn-group">
                        <a href="/admins/auditlogs" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                    </div>

                </div>
            </div>
        </div>
   
        <div class="col-lg-3">
            <div class="contact-box center-version">
                <a href="/admin/settings">

                    <img alt="image" src="~/icons/dashboard/settings.png">
                    <h3 class="m-b-xs"><strong>Settings</strong></h3>

                    <div class="font-bold">System Settings</div>
                </a>
                <div class="contact-box-footer" style="background-color:#1ab394;">
                    <div class="m-t-xs btn-group">
                        <a href="/admin/settings" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                    </div>

                </div>
            </div>
        </div>
   
</div>

<div class="row">

  
        <div class="col-lg-3">
            <div class="contact-box center-version">
                <a href="/admin/uaiyield">

                    <img alt="image" src="~/icons/dashboard/Umbrella-100.png">
                    <h3 class="m-b-xs"><strong>UAI Yield</strong></h3>

                    <div class="font-bold">Uai Yields</div>
                </a>
                <div class="contact-box-footer" style="background-color:#1ab394;">
                    <div class="m-t-xs btn-group">
                        <a href="/admin/uaiyield" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                    </div>

                </div>
            </div>
        </div>
    
        <div class="col-lg-3">
            <div class="contact-box center-version">
                <a href="/admin/users">

                    <img alt="image" src="~/icons/dashboard/groups.png">
                    <h3 class="m-b-xs"><strong>Users</strong></h3>

                    <div class="font-bold">Add, edit and delete users</div>
                </a>
                <div class="contact-box-footer" style="background-color:#1ab394;">
                    <div class="m-t-xs btn-group">
                        <a href="/admin/users" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                    </div>

                </div>
            </div>
        </div>
   
</div>