
@{

    ViewBag.Title = "Crops & Yield Dashboard";
    ViewBag.Action = "Crops & Yield";
    ViewBag.Controller = "Dashboard";
    Layout = "~/Views/Shared/_AdimsLayout.cshtml";

    //var farmers = (int)ViewBag.farmers;
    //var farms = (int)ViewBag.farms;

}

<div class="row">

    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Maize</h5>
                <h1 class="no-margins">90 bags</h1>
                <div class="stat-percent font-bold text-navy"> <i class="fa fa-bolt"></i></div>
                <small>Total Maize</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Wheat</h5>
                <h1 class="no-margins">50 bags</h1>
                <div class="stat-percent font-bold text-navy"> <i class="fa fa-bolt"></i></div>
                <small>Total Wheat</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Beans</h5>
                <h1 class="no-margins">40 bags</h1>
                <div class="stat-percent font-bold text-navy"> <i class="fa fa-bolt"></i></div>
                <small>Total Beans</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Barley</h5>
                <h1 class="no-margins">20 bags</h1>
                <div class="stat-percent font-bold text-navy"> <i class="fa fa-bolt"></i></div>
                <small>Total Barley</small>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Maize Acreage</h5>
                <h1 class="no-margins">900 Acres</h1>
                <div class="stat-percent font-bold text-navy"> <i class="fa fa-bolt"></i></div>
                <small>Total Maize</small>
            </div>
        </div>
    </div>
</div>