
@{
    ViewBag.Title = "Farmers' Dashboard";
    ViewBag.Action = "Index";
    ViewBag.Controller = "Dashboard";
    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
    
}

<div class="row">

    <iframe style="width:100%;height:600px;" src="http://197.248.126.188/reports/powerbi/farms?rs:Embed=true"  frameborder="0" allowFullScreen="true"></iframe>

</div>