
@{
    ViewBag.Title = "Farmers' Dashboard";
    ViewBag.Action = "Index";
    ViewBag.Controller = "Dashboard";
    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
}

<div>
    <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNzBlN2UyY2YtNzI0MC00NTlkLTg5NTYtMzQ4NmYwMDM4ZTZlIiwidCI6ImRiZGQ4MTE4LTc4ZDEtNDk4OC05N2U1LTIyZjQ2ODUxMzA2MyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
</div>