
@{
    ViewBag.Title = "Select Dashboard";
    ViewBag.Action = "Index";
    ViewBag.Controller = "Dashboard";
    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
}

<div class="row">

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/dashboard/farmers">

                <img alt="image" src="~/icons/sub_dashboard/farmer.png">
                <h3 class="m-b-xs"><strong>Internal</strong></h3>

                <div class="font-bold">Simple Analytics</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/dashboard/farmers" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    @*<div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/dashboard/cropsandyield">

                <img alt="image" src="~/icons/sub_dashboard/crop_insurance.png">
                <h3 class="m-b-xs"><strong>Crops &amp; Yield</strong></h3>

                <div class="font-bold">Add Information</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/dashboard/cropsandyield" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/dashboard/insurance">

                <img alt="image" src="~/icons/dashboard/insurance.png">
                <h3 class="m-b-xs"><strong>Insurance</strong></h3>

                <div class="font-bold">Insure crops and yield</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/dashboard/insurance" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="/dashboard/cce">

                <img alt="image" src="~/icons/dashboard/insurance.png">
                <h3 class="m-b-xs"><strong>CCE</strong></h3>

                <div class="font-bold">Crop Cutting Exercises</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/dashboard/cce" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>*@

    @*<div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="">

                <img alt="image" src="~/icons/dashboard/insurance.png">
                <h3 class="m-b-xs"><strong>Counties</strong></h3>

                <div class="font-bold">County Information</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/dashboard/counties" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>*@

</div>

