
@{
    ViewBag.Title = "Manage Data";

    ViewBag.Action = "All";
    ViewBag.Controller = "Manage";

    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
}
<div class="row">

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="">

                <img alt="image" src="~/icons/sub_dashboard/farmer.png">
                <h3 class="m-b-xs"><strong>Farmers</strong></h3>

                <div class="font-bold">Search &amp; Manage Farmers</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/adimsmanage/farmers" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="">

                <img alt="image" src="~/icons/sub_dashboard/crop_insurance.png">
                <h3 class="m-b-xs"><strong>Crops</strong></h3>

                <div class="font-bold">Search &amp; Manage Crops</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/adimsmanage/crops" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="">

                <img alt="image" src="~/icons/dashboard/insurance.png">
                <h3 class="m-b-xs"><strong>Insurance</strong></h3>

                <div class="font-bold">Insure crops and yield</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/adimsmanage/insurance" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

    
</div>