
@{
    ViewBag.Title = "Manage Insurance";

    ViewBag.Action = "Insurance";
    ViewBag.Controller = "Manage";

    Layout = "~/Views/Shared/_AdimsLayout.cshtml";
}

<div class="row">

    <div class="col-lg-3">
        <div class="contact-box center-version">
            <a href="">

                <img alt="image" src="~/icons/ui/search_farmer.png">
                <h3 class="m-b-xs"><strong>Insurance Companies</strong></h3>

                <div class="font-bold">List Insurance Companies</div>
            </a>
            <div class="contact-box-footer" style="background-color:#1ab394;">
                <div class="m-t-xs btn-group">
                    <a href="/cropinsurance/insurancecompanies" class="btn btn-xs btn-white"> Navigate <i class="fa fa-angle-double-right"></i></a>
                </div>

            </div>
        </div>
    </div>

   



</div>